<div class="movie">
      
      <ul class = "movie-info">
            {{#each movie}}
            <li>Title: {{title}} <br> Director: {{director}} <br> Year: {{year}} <br> Rating: {{rate}} <br></li>
            {{/each}}
        </ul>
</div>
