<div class ="the movie">

<ul class = 'movie-title'>
  {{#each movie}}
  <li><b>Title: {{title}}</b> <br> 
  <i>Director: {{director}} </i><br> 
  Year: {{year}} <br> 
  Rate: {{Rate}}</li>
  {{/each}}
</ul>
    
</div>

