
    Movies By {{theDirector.movie}}
    {{#each movie}}
      <h2><li><b>Title: {{this.title}}</b><br></h2> 
      <i>Director: {{this.director}}</i><br> 
      Year: {{this.year}}<br></li>
    {{/each}}
  </ul>
    


