<h1>Add a Movie to the database</h1>

<form action="/movies/create" method="post">
  <p>Title</p>
  <input type="text" name="theTitle">

  <p>Director</p>
  <input type="text" name="theDirector">

  <p>Year</p>
  <input type="text" name="theYear">

  <p>Duration</p>
  <input type="text" name="theDuration">

  <p>Rate</p>
  <input type="text" name="theRate">

  <p>Genre</p>
  <input type="text" name="theGenre">

  <input type="submit" value="Submit">
</form>