<form action="/movies/create" method="post">

  <p>Title</p>
  <input type="text" name="theTitle">

 <p>Year</p>
 <input type="text" name="theYEAR">

 <p>DIRECTOR</p>
 <input type="text" name="theDirector">

 <p>Duration</p>
 <input type="text" name="theDuration">


 <p>Genre</p>
 <input type="text" name="theGenre">


 <p>Rate</p>
 <input type="text" name="theRate">


 <input type="submit" value="Submit Movie">
</form>