<form action = "/movies/create" method = "post">

{{!-- <label for="first-name-input"> Brand:</label> --}}
<p>Title</p>
<input type="text" name= "title">

{{!-- <label for="first-name-input"> Model:</label> --}}
<p>Director</p>
<input type="text" name= "director">

{{!-- <label for="first-name-input"> Year:</label> --}}
<p>Year</p>
<input type="text" name= "year">

{{!-- <label for="first-name-input"> Color:</label> --}}
<p>Rating</p>
<input type="text" name= "rate">

<input type ="submit" value = "Submit Movie">

</form>