<form action="/movies/create" method="post">

  <p>Title</p>
  <input type="text" name="theTitle">

  <p>Director</p>
  <input type="text" name="theDirector">

  <p>Year</p>
  <input type="text" name="theYear">


  <input type="submit" value="Submit Movie">
</form>