<form action="/movies/create" method="post">

  <p>Title</p>
  <input type="text" name="theNewTitle">

  <p>Year</p>
  <input type="text" name="theNewYear">

  <p>Director</p>
  <input type="text" name="theNewDirector">

  <p>Duration</p>
  <input type="text" name="theNewDuration">

  <p>Genre</p>
  <input type="text" name="theNewGenre">

  <p>Rate</p>
  <input type='text' name='theNewRate'>

  <input type="submit" value="Submit New Movie">
</form>

