<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Movies</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
    crossorigin="anonymous">
  <link rel="stylesheet" href="/public/stylesheets/">
</head>
<body style="margin-top: 50px;">

<div class="container">
<a href="/movies">Return to full list of movies</a>
<br>
<br>

<!-- Simple form which will send a GET request -->
<form action="/movies/create" method="post">
  <p>Title</p>
  <input type="text" name="theTitle">

  <p>Director</p>
  <input type="text" name="theDirector">

  <p>Year</p>
  <input type="text" name="theYear">

  <p>Rating</p>
  <input type="text" name="theRating">

  <p>Duration</p>
  <input type="text" name="theDuration">

  <p>Genre(s) (use a comma separated list)</p>
  <input type="text" name="theGenre">
  <br>
  <br>
  <input type="submit" value="Submit Movie">
</form>
</div>

</body>
</html>