<div class="movie">
      <h1>Movie Info!</h1>
      <ul class = "movie-info">
           
            <li>Title: {{theList.title}}</a> <br> Director: {{theList.director}} <br> Year: {{theList.year}} <br> Rating: {{theList.rate}} <br></li>
            
        </ul>
</div>
